<h1>O nas</h1>
<div id="about"> 	
	Ilustratorzy.pl to darmowy serwis społecznościowy, gdzie możesz publikować swoje prace. Ty oraz inni Graficy i Ilustratorzy będą mieli możliwość oceny Twoich prac w postaci przyznawania <strong>'kredek'</strong>. Dzięki temu zbudujesz swoją reputacje w oczach innych oraz potencjalnych zleceniodawców. Kredki przyznawane są za darmo na zasadzie lojalnowościowej, wejdź do 'kredki' w górnym menu. Za każdym razem jak ktoś przyzna Ci 'kredkę' w uznaniu za Twoją pracę nabija równocześnie Twoją pulę kredek do rozdania. Miłej zabawy.

</div>
