<h1>Zasady</h1>
<div id="terms">
<br/>
	Poprzez używanie Ilustratorzy.pl potwierdzasz, że przeczytałeś, zrozumiałeś i zgadzasz się z poniższymi Zasadami korzystania z serwisu.
<br/><br/>
	Ze względu na bezpieczeństwo naszych pociech, dzieci poniżej 13 roku życia nie mogą używac serwisu.
<br/><br/>
	Serwis Ilustratorzy.pl zastrzega sobie prawo do usunięcia grafik z serwisu bez podania przyczyny. Dotyczy to grafik przedstawiających pornografię, będące obraźliwe lub 				które w jakikolwiek sposób naruszają prawo. Grafiki takie zostaną usunięte i adres IP użytkownika zosanie przekaany odpowienidm władzom.
<br/><br/>
	Rezerwujemy sobie prawo do usunięcia z serwisu użytkownika albo stronę internetową bez podania przyczyny.
<br/><br/>
	Nie jesteśmy odpowiedzialni za utrzymywanie oraz uszkodzenia wysłanych grafik, komentarzy, tekstów, tagów. Użytkownik jest odpowiedzialny za całą wysłaną zawartość.
	Ilustratorzy.pl nie kontroluje komentarzy, postów i nie gwarantuje jakości takowych.  
<br/><br/>
	Poprzez przsłanie swoich grafik/ilustracji pozwalasz serwisowi ilustratorzy.pl używać ich publicznie na http://ilustratorzy.pl oraz wszystkich innych stronach współpracujących z ilustratorzy.pl
<br/><br/>
	Wszystkie grafiki i ilustracje powinny być zabezpieczone znakiem copyright © przez Użytkownika serwisu.
<br/><br/>
	Jeśli uważasz, że zostały naruszone prawo do grafiki/ilustracji prosimy o kontakt na adres mailowy admin@ilustratorzy.pl
<br/><br/>
	

</div>
