<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ilustratorzy.pl | Portal społecznościowy dla Ilustratorów i Grafików - sprawdź się!</title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag  :defaults %>
  
  <meta name="author" content="Juliusz Filipowski">
  <meta name="subject" content="Ilustracja, Grafika">
  <meta name="Description" content="Portal społecznościowy dla Ilustratorów i Grafików. Oceń swoją pracę w oczach innych grafików. Buduj swoją reputację w oczach zleceniodawców.">
  <meta name="Classification" content="Ilustracja, grafika">
  <meta name="Keywords" content="grafika">
  <meta name="Geography" content="Polska">
  <meta name="Language" content="Polish">
  <meta name="Revisit-After" content="1">
  <meta name="distribution" content="Global">
  <meta name="Robots" content="INDEX,FOLLOW">
  <meta name="country" content="Poland">
  <meta name="rank" content="1">
  <meta name="keywords" content="ilustratorzy.pl, ilustracje, grafika, ilustratorzy, graficy, reputacja, najlepsi graficy, gdzie znaleźć dobrego grafika, fotografia, ilustracje zlecenia, grafika praca, ilustratorzy praca, malarstwo, praca" >

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20532319-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>